*
{
    margin:0;
    box-sizing: border-box;
    padding:0;    
}
body
{
    min-height:100vh;
    background-color: #212121;
    color:white;
    overflow-X: hidden;
}

a
{
    text-decoration: none;
    cursor:pointer;
    color:white;  
    
}

nav
{
    position: fixed;
    width: 100%;
    background-color: #212121;
    z-index: 30;
    /* border: red solid; */

}
.nav_elements
{
    cursor: pointer;
}
.navbar
{

    height:10vh;
    display: flex;
    list-style: none;
    align-items: center;
    justify-content: center;
    gap:15vw;
    font-size: 1.2vw;
    font-family:'Inter', sans-serif;
    z-index: 20;
    transition: 0.3s;

}
.resources
{
    height: 100%;
    width:100%;
    padding-top:10vh;
}
.Heading_container
{
    /* position: relative; */
    margin-top:10vh;
    height:100%;
    margin-bottom: 10vh;
}
.Heading_container h1
{
    font-size:3vw;
    display: flex;
    align-items: center;
    justify-content: center;
    font-family:'Inter', sans-serif;
    font-weight: 300;
}
.explore_background_container
{
    position: absolute;
    height:100%;
    width:100%;
    display: flex;
    flex-direction: column;
    z-index: -1;
}
.explore_background
{
    height:100vh;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr;
 
}
.two
{
    height:100vh;
}
.erectangle_design
{
    height: 12vw;
    width: 20vw;
    background-color: rgba(151, 151, 151, 0.123);
}
.erectangle_design:nth-child(1),
.erectangle_design:nth-child(4),
.erectangle_design:nth-child(7)
{
    grid-column: 1/2;
    grid-row: 2/3;
}
.erectangle_design:nth-child(2),
.erectangle_design:nth-child(5),
.erectangle_design:nth-child(8)
{
    grid-column: 2/3;
    grid-row: 2/3;
}
.erectangle_design:nth-child(3),
.erectangle_design:nth-child(6)
{
    grid-column: 3/4;
    grid-row: 2/3;
}

.erectangle_design:nth-child(1)
{
    transform: 
    scale(1.5)
    translateY(-10vw);
}
.erectangle_design:nth-child(2)
{
    transform:
    scale(0.7)
    translateX(25vw) 
    translateY(-15vw);
}
.erectangle_design:nth-child(3)
{
    transform: 
    scale(1.2)
    translateX(10vw)
    translateY(-13vw);
}
.erectangle_design:nth-child(4)
{
    transform:
    translateY(18vw);
}
.erectangle_design:nth-child(5)
{
    transform:
    scale(0.7)
    translateX(10vw)
    translateY(22vw);
}
.erectangle_design:nth-child(6)
{
    transform:
    scaleX(1.2)
    translateX(8vw)
    translateY(17vw);
}
.erectangle_design:nth-child(7)
{
    transform:
    translateX(3vw)
    translateY(2vw)
    scaleY(0.7)
    scaleX(0.9);
}
.erectangle_design:nth-child(8)
{
    transform:
    scaleY(0.7)
    translateY(3vw)
    translateX(35vw);
}
.all_carousel_container
{
    position: absolute;
    height:100%;
    width:100%;
}
.carousel 
{
    position: relative;
    height:50vh;
    width:100%;
    display: flex;
    align-items: center;
    justify-content: center;
    padding-inline:5%;
    gap:2%;
}
.carousel_container
{
    height:100%;
    width: 100%;
    overflow: hidden;
    display: flex;
    justify-content: flex-start;
}
.carousel_track
{
    height: 100%;
    width:600%;
    display: flex;
    flex-shrink: 0;
    align-items: center;
    gap: 2%;
    transition: 0.5s;
}
.carousel_track section
{
    flex-basis:17%;
    width:17%;
    flex-shrink:0;
    flex:1;
    display: flex;
    align-items: center;
    justify-content: center;
}
.carousel_track img
{
    height:20vw;
    width:30vw;
}
.resources-divs 
{
    height:400px; 
}

